html {
  font-size: 50px;
}
/* 两个数参与运算  如果只有一个数有单位，则最后的结果就以这个单位为准 */
/* 老版本less可能要求运算符左右加一个空格，新版本确定不需要 */
div {
  width: 150px;
  height: 500px;
  border: 10px solid red;
  background-color: #444444;
}
img {
  width: 1.64rem;
  height: 1.64rem;
  /* 最新的less里，除法需要给表达式加括号 */
  /* 两个数参与运算，如果2个数都有单位，而且不一样的单位 最后的结果以第一个单位为准 */
  /* 这种格式的注释会出现在编译后的.css文件中，//这种的不会 */
}
